.column {
	height: 100%;
	left: 0px;
	padding: 80px;
	position: absolute;
	top: 0px;
	width: calc(50% - 240px);
}

.column:last-child {
	border-left: 1px solid rgba(255,255,255,0);
	border-color: rgba(255,247,140,0);
	left: calc(50% - 240px);
	padding: 0;
	transition: border-color 300ms ease-out;
	width: calc(50% + 240px);
}

.column[state="awaiting"],
.column[state="ready"] {
	border-color: rgba(255,255,255,0.35);
}

/*
	Responsive
*/

@media screen and (max-width: 1365px), screen and (max-height: 768px) {
	
	.column:not(.page) {
		width: 100%;
	}

	.column[state="awaiting"],
	.column[state="ready"] {
		border-color: rgba(255,255,255,0);
	}

	.column:last-child {
		left: 0px;
		width: 100%;
	}

}