.loader {
	animation: fadeinloader 1s ease-out forwards;
	color: rgba(255,255,255,1);
	font-size: 50px;
	font-weight: 200;
	left: 50%;
    letter-spacing: 20px;
	position: absolute;
	text-transform: uppercase;
	transform: translate3d(-50%,-50%,0);
	top: 50%;
}

.loader i {
	animation: blink 1s infinite;
    display: block;
    float: left;
	font-size: 24px;
    margin-top: 7px;
    margin-right: 20px;
    vertical-align: baseline;
}

.loader span {
	display: block;
}

.loader span:nth-child(1) {
	animation: fadeup 1s ease-out forwards;
}

.loader[state="ready"] span:nth-child(1) {
	animation: fadeupout 500ms ease-out 500ms forwards;
}

.loader span:nth-child(2) {
	animation: fadein 1s ease-out 1s forwards;
    color: rgba(255,247,140,1);
	display: block;
    font-size: 25px;
    font-weight: 200;
    opacity: 0;
    letter-spacing: 8px;
    margin-top: 30px;
}

.loader[state="ready"] span:nth-child(2) {
	animation: fadeoutblur 500ms ease-out forwards;
}

@media screen and (max-width: 560px) {
	
	.loader {
		font-size: 35px;
	}

	.loader span:nth-child(2) {
		letter-spacing: 5px;
		font-size: 18px;
	}

	.loader i {
		font-size: 18px;
		margin-top: 5px;
	}

}