.logo {
	background-image: url(../../img/logo_80.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80px;
	font-size: 50px;
    font-weight: 200;
    height: 130px;
    letter-spacing: -6px;
	line-height: 72px;
	opacity: 0;
    position: relative;
	text-align: center;
	transition: opacity 1s ease-out;
    width: 130px;
}

.logo[state="ready"] {
	opacity: 1;
}

.logo .circle {
	animation: spinlogo 3s ease-in-out infinite forwards; 
	border: 3px solid rgba(255,255,255,0.15);
	border-radius: 100%;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}

/*
	Responsive
*/

@media screen and (max-width: 1365px), screen and (max-height: 768px) {

	.logo {
		filter: invert(100%);
		left: 80px;
		opacity: 0;
		position: absolute;
    	top: 80px;
		transition: opacity 300ms ease-out;		
    	z-index: 999;
	}

	.logo .circle {
		border: 1px solid rgba(255,255,255,0.1);
	}

	.logo[state="ready"] {
		opacity: 0;
	}

	.logo[state="active"] {
		opacity: 1;
	}

}

@media screen and (max-width: 1024px) {

	.logo {
		top: 50px;
		left: 50px;
	}

}