.menu {
	background-color: rgba(255,255,255,0);
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	transition: background-color 300ms ease-out;
	width: 100%;
}

/* Buttons */

.menu .wrapper {
	left: 0px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.menu button {
	background-color: rgba(255,255,255,0);
	border: none;
	border-bottom: 1px dotted rgba(255,255,255,0.15);
	color: rgba(255,255,255,0.5);
	cursor: pointer;
	display: block;
	font-size: 28px;
    font-weight: 300;
    letter-spacing: 8px;
	min-height: 130px;
	opacity: 0;
	padding: 0px 80px;
	width: 100%;
	text-align: left;
	text-indent: -15px;
	text-transform: uppercase;
	transition: opacity 300ms ease-out, text-indent 150ms ease-out, color 300ms ease-out, border-color 300ms ease-out;
}

.menu button:nth-child(2) {
	transition: opacity 300ms ease-out 150ms, text-indent 150ms ease-out 150ms, color 300ms ease-out, border-color 300ms ease-out;
}

.menu button:nth-child(3) {
	transition: opacity 300ms ease-out 300ms, text-indent 150ms ease-out 300ms, color 300ms ease-out, border-color 300ms ease-out;
}

.menu[state="active"] button,
.menu[state="ready"] button {
	opacity: 1;
	text-indent: 0px;
}

.menu button:hover {
	color: rgba(255,255,255,1);
}

.menu button[state="active"] {
	color: rgba(255,255,255,1);
	border-color: rgba(255,255,255,0.35);
}

.menu button:last-child {
	border-bottom: none;
}

/* Contact */

.menu .contact {
	bottom: 0px;
	padding: 0 80px 80px 80px;
	position: absolute;
	left: 0px;
}

.menu .contact i {
	background-color: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
	cursor: pointer;
	border-radius: 100%;
	float: left;
	font-size: 36px;
	height: 80px;
	line-height: 80px;
	margin: 0 15px 0 0;
	opacity: 0;
	text-align: center;
	transition: background-color 300ms ease-out, opacity 300ms ease-out;
	width: 80px;
}

.menu i:nth-child(2) {
	transition: background-color 300ms ease-out, opacity 300ms ease-out 150ms;
}

.menu .contact[state="ready"] i {
	opacity: 1;
}

.menu .contact i:hover {
	background-color: rgba(255,247,140,1);
}

/*
	Menu Button
*/

.menu_button {
	border: 2px solid rgba(255,255,255,0.15);
	background: transparent;
    border-radius: 12px;
	bottom: 80px;
	cursor: pointer;
	display: none;
    height: 42px;
	left: 80px;
	opacity: 0;
	position: absolute;
	transition: border-color 300ms ease-out;
	width: 54px;
	z-index: 999;
}

.menu_button[state="ready"] {
	animation: fadein 300ms ease-out forwards;
}

.menu_button[state="inactive"] {
	border-color: rgba(255,255,255,0.15);
	opacity: 1;
}

.menu_button:hover {
	border-color: rgba(255,255,255,1);
}

.menu_button[state="active"] {
	border-color: rgba(0,0,0,1);
	opacity: 1;
}

.menu_button .line {
	background-color: rgba(255,255,255,1);
	display: block;
	height: 2px;
	left: 10px;
	opacity: 1;
	position: absolute;
	transition: opacity 300ms ease-out;
	width: 30px;
}

.menu_button[state="active"] .line {
	opacity: 0;
}

.menu_button .line:nth-child(1) {
	top: 10px;
}

.menu_button .line:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.menu_button .line:nth-child(3) {
	bottom: 10px;
}

.menu_button i {
	font-size: 30px;
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 50%;
}

.menu_button[state="active"] i {
	animation: scaleincenter 150ms ease-out 150ms forwards;
}

/*
	Responsive title
*/

.responsive_title {
	display: none;
	font-size: 20px;
    font-weight: 200;
    letter-spacing: 5px;
	left: 80px;
	letter-spacing: 8px;
	opacity: 0;
	position: absolute;
	text-transform: uppercase;
	top: 80px;
	width: calc(100% - 160px);
}

.responsive_title[state="ready"] {
	animation: fadein 1s ease-out forwards;
}

.responsive_title span:first-child {
	display: inline-block;
	margin-right: 30px;
	opacity: 0.35;
}

/*
	Responsive
*/

@media screen and (max-width: 1919px) {
	.menu button {
		font-size: 23px;
	}
}

@media screen and (max-width: 1800px) {
	.menu button {
		font-size: 21px;
	}
}

@media screen and (max-width: 1750px) {
	.menu button {
		font-size: 19px;
	}
}

@media screen and (max-width: 1550px) {
	.menu button {
		font-size: 16px;
		letter-spacing: 5px;
	}
}

@media screen and (max-width: 1365px), screen and (max-height: 768px) {

	.menu {
		overflow: hidden;
	}

	.menu .wrapper button {
		border-bottom: 1px dotted rgba(0,0,0,0.1);
		color: rgba(0,0,0,0.5);
		opacity: 0;
		font-size: 22px;
	}

	.menu[state="active"] .wrapper button {
		animation: fadeupslow 300ms ease-out 450ms forwards;
	}

	.menu[state="active"] .wrapper button:nth-of-type(2) {
		animation: fadeupslow 300ms ease-out 600ms forwards;
	}

	.menu[state="active"] .wrapper button:nth-of-type(3) {
		animation: fadeupslow 300ms ease-out 750ms forwards;
		border-bottom: 1px dotted rgba(0,0,0,0); 
	}

	.menu .wrapper button[state="active"] {
		border-bottom: 1px dotted rgba(0,0,0,1);
		color: rgba(0,0,0,1);
		font-weight: 300;
	}

	.menu[state="active"] {
		background-color: rgba(255,255,255,1);
		z-index: 998;
	}

	.menu .contact {
		left: auto;
		opacity: 0;
		right: 0px;
		transition: opacity 300ms ease-out;
	}

	.menu[state="active"] .contact {
		opacity: 1;	
	}

	.menu .contact i,
	.menu .contact i:hover {
		background-color: rgba(0,0,0,1);
		color: rgba(255,255,255,1);
	}

	.menu .contact i {
		opacity: 0 !important;
		transition: opacity 300ms ease-out;
	}

	.menu .contact a:last-child i {
		margin-right: 0px;
	}

	.menu[state="active"] .contact a:nth-of-type(1) i {
		animation: fadein 300ms ease-out 900ms forwards;
	}

	.menu[state="active"] .contact a:nth-of-type(2) i {
		animation: fadein 300ms ease-out 1050ms forwards;
	}

	.menu_button {
		display: block;
	}

	/*
		Hidden

	.responsive_title {
		display: block;
	}*/

}

@media screen and (max-width: 1024px) {

	.menu_button {
		bottom: 53px;
		left: 50px;
	}

	.menu button {
		padding: 0 50px;
	}

	.menu .contact {
		padding: 0 50px 50px 50px;
	}

	.responsive_title {
		left: 50px;
		top: 50px;	
	}

}

@media screen and (max-width: 560px) {
	.menu .wrapper button {
		font-size: 20px;
	}
}

@media screen and (max-height: 960px) {
	.menu button {
		min-height: 80px;
	}
}