.merit {
	margin: 0 130px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: calc(100% - 260px);
}

.merit img {
	border-radius: 100%;
	height: 210px;
	left: 0px;
	opacity: 0;
	position: absolute;
	top: 0px;
	width: 210px;
}

.slide[state="active"] .merit img {
	animation: fadeinblur 300ms ease-out forwards;	
}

.slide[state="out"] .merit img {
	animation: fadeoutblur 300ms ease-out 300ms forwards;
	opacity: 1;
}

.merit .wrapper {
	padding: 0 0 0 290px;
}

.merit .wrapper h2,
.merit .wrapper h3 {
	margin: 0;
}

.merit .wrapper h2 {
	font-size: 28px;
    font-weight: 300;
	letter-spacing: 8px;
	margin: 0 0 30px 0;
	opacity: 0;
	text-transform: uppercase;
}

.slide[state="active"] .merit .wrapper h2 {
	animation: fadein 300ms ease-out 75ms forwards;
}

.slide[state="out"] .merit .wrapper h2 {
	animation: fadeout 300ms ease-out 225ms forwards;
	opacity: 1;
}

.merit .wrapper h3 {
	font-size: 20px;
    font-weight: 200;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.merit .row * {
	display: inline-block;
}

.slide[state="active"] .merit .row:nth-of-type(1) {
	animation: fadein 300ms ease-out 150ms forwards;
}

.slide[state="out"] .merit .row:nth-of-type(1) {
	animation: fadeout 300ms ease-out 150ms forwards;
	opacity: 1;
}

.slide[state="active"] .merit .row:nth-of-type(2) {
	animation: fadein 300ms ease-out 225ms forwards;
}

.slide[state="out"] .merit .row:nth-of-type(2) {
	animation: fadeout 300ms ease-out 75ms forwards;
	opacity: 1;
}

.merit label {
	color: rgba(255,247,140,1);
    font-size: 18px;
    font-weight: 300;
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 80px;
}

.merit .row {
	margin: 0 0 10px 0;
	opacity: 0;
}

.merit .wrapper p {
	font-size: 24px;
    line-height: 39px;
	margin: 30px 0 0 0;
	opacity: 0;
	padding: 0;
	position: initial;
	top: 0px;
	transform: translateY(0px) translateZ(0px);
}

.slide[state="active"] .merit .wrapper p {
	animation: fadein 300ms ease-out 300ms forwards;
	opacity: 0;
}

.slide[state="out"] .merit .wrapper p {
	animation: fadeout 300ms ease-out forwards;
}

@media screen and (max-width: 1919px) {

	.merit {
		margin: 0 130px;
		padding: 0;
		width: calc(100% - 260px);
	}

	.merit img {
		display: block;
		/*height: 210px;*/
		position: initial;
		margin: 0px auto 50px auto;
		/*width: 210px;*/
	}

	.merit .wrapper {
		padding: 0;
	}

	.merit .wrapper p {
		font-size: 23px;
		line-height: 38px;
	}

}

@media screen and (max-width: 1200px) {
	.merit {
		margin: 0 80px;
		padding: 0;
		width: calc(100% - 160px);
	}
}

@media screen and (max-width: 1024px) {
	.merit {
		margin: 0 50px;
		padding: 0;
		width: calc(100% - 100px);
	}

	.merit .wrapper h3 {
		letter-spacing: 2px;
	}
}

@media screen and (max-height: 1080px) {

	.merit img {
		height: 160px;
    	width: 160px;
	}

	.merit .wrapper p {
		font-size: 19px;
		line-height: 31px;
	}

}

@media screen and (max-height: 880px) {

	.merit .wrapper h2 {
		font-size: 23px;
		margin: 0 0 20px 0;
	}

	.merit .wrapper h3 {
		font-size: 18px;
	}

	.merit .wrapper p {
		margin: 20px 0 0 0;
	}

}

@media screen and (max-height: 860px) {

	.merit {
		top: 130px;
		transform: translateY(0px);
	}

	.merit .wrapper h3 {
		font-size: 18px;
	}

}

@media screen and (max-height: 820px) {
	.merit {
		top: 80px;
	}
}

@media screen and (max-height: 760px), screen and (max-width: 580px) {

	.merit img {
		height: 130px;
		margin: 0px auto 30px auto;
		width: 130px;
	}

	.merit .wrapper p {
		font-size: 17px;
		line-height: 28px;
	}

	.merit label {
		width: 70px;
	}

}