.photos {
	padding: 0px 130px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.photos .frame {
	position: relative;
	height: 400px;
	width: 100%;	
}

.photos img {
	border-radius: 100%;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
	display: block;
	opacity: 0;
	margin: 0 auto;
}

.photos img:nth-child(1) {
	margin: 0 auto;
	transform: translateX(60px) translateY(75px);
	transition: opacity 300ms ease-out 150ms, transform 300ms ease-out 150ms;
	width: 340px;
}

.slide[state="active"] .photos img:nth-child(1) {
	opacity: 1;
	transform: translateX(60px) translateY(60px);
}

.photos .inverse img:nth-child(1) {
	transform: translateX(-55px) translateY(-15px);	
}

.slide[state="active"] .photos .inverse img:nth-child(1) {
	transform: translateX(-55px) translateY(0px);
}

.photos img:nth-child(2) {
	position: absolute;
	left: calc(50% - 105px);
	top: calc(50% - 105px);
	transform: translateX(-125px) translateY(-110px);
	transition: opacity 300ms ease-out 300ms, transform 300ms ease-out 300ms;
	width: 210px;
}

.slide[state="active"] .photos img:nth-child(2) {
	opacity: 1;
	transform: translateX(-125px) translateY(-95px);
}

.photos .inverse img:nth-child(2) {
	transform: translateX(120px) translateY(110px);
}

.slide[state="active"] .photos .inverse img:nth-child(2) {
	transform: translateX(120px) translateY(95px);
}

.photos p {
	margin: 50px 0 0 0;
	opacity: 0;
	padding: 0px;
	position: initial;
	top: auto;
	transform: none;
}

/*
	Responsive
*/

@media screen and (max-width: 1024px) {
	.photos {
		padding: 0 50px;
	}
}

@media screen and (max-height: 1100px) {

	.photos .frame {
		height: 340px;
	}

	.photos img:nth-child(2) {
		transform: translateX(-125px) translateY(-45px);
	}

	.slide[state="active"] .photos img:nth-child(2) {
		transform: translateX(-125px) translateY(-30px);
	}

	.photos img:nth-child(1) {
		transform: translateX(60px) translateY(15px);
	}

	.slide[state="active"] .photos img:nth-child(1) {
		transform: translateX(60px) translateY(0px);
	}

}

@media screen and (max-height: 960px) {

	.photos .frame {
		height: 260px;
		/*margin-top: 50px;*/
	}

	.photos img:nth-child(1) {
		height: 260px;
		width: 260px;
	}

	.slide .photos img:nth-child(2) {
		transform: translateX(-85px) translateY(-15px);
	}

	.slide[state="active"] .photos img:nth-child(2) {
		transform: translateX(-85px) translateY(0px);
	}

	.slide .photos .inverse img:nth-child(2) {
		transform: translateX(80px) translateY(20px);
	}

	.slide[state="active"] .photos .inverse img:nth-child(2) {
		transform: translateX(80px) translateY(5px);
	}

}

@media screen and (max-height: 900px) {

	.photos {
		top: 80px;
		transform: translateY(0px);
	}

	.photos .frame {
		margin-top: 50px;
	}

}

@media screen and (max-height: 860px) {

	.photos .frame {
		margin-top: 0px;
	}

}

@media screen and (max-height: 800px) {

	.photos {
		top: 50px;
	}

	.photos p {
		margin: 30px 0 0 0;
	}

}

@media screen and (max-height: 760px) {

	.photos p {
		font-size: 17px;
		line-height: 28px;
	}

}