.quote {
	left: 0px;
	padding: 130px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.quote h2 {
	font-family: 'Parisienne', serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 65px;
	margin: 0px;
	opacity: 0;
}

.slide[state="active"] .quote h2 {
	animation: fadeupslow 300ms ease-out forwards;
}

.slide[state="out"] .quote h2 {
	animation: fadeupout 300ms ease-out 150ms forwards;
	opacity: 1;
}

.quote .wrapper {
	margin: 50px 0 0 0;
	text-align: left;
}

.quote .author {
	overflow: visible;
}

.quote .author img {
	border-radius: 80px;
	float: left;
	height: 130px;
	margin: 0 50px 0 0;
	opacity: 0;
	width: 130px;
}

.slide[state="active"] .quote .author img {
	animation: fadein 300ms ease-out 150ms forwards;
}

.slide[state="out"] .quote .author img {
	animation: fadeoutblur 300ms ease-out forwards;
	opacity: 1;
}

.quote .author span {
	color: rgba(255,247,140,1);
	display: block;
	float: left;
	font-size: 25px;
    font-weight: 200;
	letter-spacing: 8px;
	margin-top: 47px;
	opacity: 0;
	text-transform: uppercase;
}

.slide[state="active"] .quote .author span {
	animation: fadeleft 300ms ease-out 150ms forwards;
}

.slide[state="out"] .quote .author span {
	animation: fadeoutblur 300ms ease-out forwards;
	opacity: 1;
}

@media screen and (max-width: 1024px) {

	.quote {
		padding: 50px;
	}

	.quote h2 {
		font-size: 35px;
		line-height: 53px;
	}

}

@media screen and (max-width: 800px) {
	
	.quote h2 {
		font-size: 35px;
		line-height: 54px;
	}

	.quote .wrapper {
		margin: 30px 0 0 0;
	}

	.quote .author span {
		font-size: 20px;
		letter-spacing: 5px;
		margin-top: 24px;
	}

	.quote .author img {
		height: 80px;
		margin: 0 30px 0 0;
		width: 80px;
	}

}

@media screen and (max-height: 1080px) {

	.quote h2 {
		font-size: 35px;
		line-height: 54px;
	}

	.quote .author span {
		font-size: 20px;
	}

}

@media screen and (max-height: 920px) {

	.quote h2 {
		font-size: 28px;
		line-height: 42px;
	}

}