/*
	Blinks
*/

@keyframes blink {
	0% {
		opacity: 0.35;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.35;
	}
}

/*
	Fades
*/

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeinblur {
	0% {
		filter: blur(8px);
		opacity: 0;
	}
	100% {
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes fadeinbg {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.15;
	}
}

@keyframes fadeinloader {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeleft {
	0% {
		opacity: 0;
		transform: translateX(30px) translateZ(0);
	}
	100% {
		opacity: 1;
		transform: translateX(0px) translateZ(0);
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeoutblur {
	0% {
		filter: blur(0px);
		opacity: 1;
	}
	100% {
		filter: blur(8px);
		opacity: 0;
	}
}

@keyframes fadeup {
	0% {
		filter: blur(2px);
		opacity: 0;
		transform: translateY(300px) translateZ(0);
	}
	100% {
		filter: blur(0px);
		opacity: 1;
		transform: translateY(0px) translateZ(0);
	}
}

@keyframes fadeupblink {
	0% {
		filter: blur(2px);
		opacity: 0;
		transform: translateY(300px) translateZ(0);
	}
	100% {
		filter: blur(0px);
		opacity: 1;
		transform: translateY(0px) translateZ(0);
	}
}

@keyframes fadeupout {
	0% {
		filter: blur(0px);
		opacity: 1;
		transform: translateX(0px) translateZ(0);
	}
	100% {
		filter: blur(20px);
		opacity: 0;
		transform: translateY(-30px) translateZ(0);
	}
}

@keyframes fadeupslow {
	0% {
		filter: blur(2px);
		opacity: 0;
		transform: translateY(50px) translateZ(0);
	}
	100% {
		filter: blur(0px);
		opacity: 1;
		transform: translateY(0px) translateZ(0);
	}
}

/*
	Main
*/

@keyframes main {
	0% {
		box-shadow: inset 0 0 30px rgba(0,0,0,0);
	}
	66% {
		box-shadow: inset 0 0 30px rgba(0,0,0,0);
	}
	100% {
		box-shadow: inset 0 0 30px rgba(0,0,0,0.35);
	}
}

/*
	Scales
*/

@keyframes scaleincenter {
	0% {
		opacity: 0;
		transform: translateX(-50%) translateY(-50%) translateZ(0px) scale(0.75);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%) translateY(-50%) translateZ(0px) scale(1);
	}
}

/*
	Spins
*/

@keyframes spinlogo {
	0% {
		opacity: 1;
		transform: rotate3d(0,0,0,0deg);
	}
	50% {
		opacity: 0;
		transform: rotate3d(0,1,0,90deg);
	}
	100% {
		opacity: 1;
		transform: rotate3d(0,0,0,180deg);
	}
}