/* General settings */

* {
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	touch-action: manipulation;
}

body,
html {
	background-color: rgba(30,30,35,1);
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: fixed;
	width: 100%;
}

.bg {
	animation: fadeinbg 13s ease-out;
	animation-fill-mode: forwards;
	background-image: url(../../img/bg_ice.jpg);
	background-position: 50% 100%;
	background-size: cover;
	height: 100%;
	left: 0;
	opacity: 0.15;
	position: absolute;
	top: 0;
	width: 100%;
}

.bg .gradient {
	background: linear-gradient(-25deg, rgba(275,30,30,1), rgba(25,30,30,0));
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Main */

main {
	animation: main 13s ease-out forwards;
	color: rgba(255,255,255,1);
	font-size: 20px; 
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}

/* Orientation fix */

.orientation_fix {
	background-color: rgba(57,51,60,1);
	height: 100%;
	left: 0px;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0px;
	/*transition: opacity 300ms ease-out;*/
	width: 100%;
	z-index: 1000;
}

html.orientation .orientation_fix {
	opacity: 1;
}

.orientation_fix i {
    color: rgba(255,255,255,1);
	font-size: 130px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}